@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';

/*
	Identity by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/

/* Basic */

	body {
		&:after {
			display: none;
		}
	}

/* Main */

	#main {
		@include vendor('transform', 'none !important');
		opacity: 1 !important;
	}