@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

///
/// Identity by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Icon */

	.icon {
		@include icon;
		position: relative;
		border-bottom: none;

		> .label {
			display: none;
		}
	}