<header>
    <span class="avatar"><img src="images/avatar.png" alt="" /></span>
    <h1>Alejandro Santander</h1>
    <p>Software Developer</p>
</header>

<footer>
    <ul class="icons">
        <li><a href="https://github.com/thepalebluedot" class="fa-github">Twitter</a></li>
        <li><a href="/resume" class="fa-file-text">Twitter</a></li>
    </ul>
</footer>