<!DOCTYPE HTML>
<html>

    <%- partial('partials/head') %>

    <body class="is-loading">

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Main -->
            <section id="main">

                <!-- Page Content -->
                <%- body %>

            </section>

            <!-- Footer -->
            <footer id="footer">
                <ul class="copyright">
                    <li>design by pixelarity.com</li>
                </ul>
            </footer>

        </div>

        <!-- Scripts -->
        <%- partial('partials/scripts')%>

    </body>
</html>